@page "/"
@attribute [StreamRendering]

@inject NavigationManager Navigation

<FluentCard>
    <h2>This is meant to be a home page</h2>
    <FluentButton OnClick="@(() => Navigation.NavigateTo("/app/products"))" Appearance="@Appearance.Accent">Go to Products</FluentButton>
</FluentCard>